<?xml version="1.0" encoding="UTF-8"?>  
<configuration scan="true" scanPeriod="30 seconds">  
    <springProfile name="test">
        <property name="log.path" value="D:\\log\\eurekaServer\\test\\" />  
    </springProfile>  
    <springProfile name="prod">  
        <property name="log.path" value="D:\\log\\eurekaServer\\prod\\" />  
    </springProfile>  
    <springProfile name="dev">  
        <property name="log.path" value="D:\\log\\eurekaServer\\devxxxx\\" />  
    </springProfile>  
    
    <!-- 控制台输出 -->  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-14.14thread] %-30.30logger{30} [%-20.20method]:%-4line- %msg%n</pattern>  
        </encoder>  
    </appender>  
      
    <!-- 输出到文件 -->  
    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <File>${log.path}/eurekaServer.log</File>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/eurekaServer-%d{yyyyMMdd}.%i.log</fileNamePattern>  
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">    
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-14.14thread] %-30.30logger{30} [%-20.20method]:%-4line- %msg%n</pattern>  
        </layout>  
    </appender>  
  
    <root level="info">  
        <appender-ref ref="STDOUT" />  
        <appender-ref ref="LOGFILE" /> 
    </root>  
      
    <springProfile name="dev">  
        <logger name="com" level="DEBUG" additivity="false">  
            <appender-ref ref="STDOUT" />
            <appender-ref ref="LOGFILE" />   
        </logger>  
    </springProfile>  
      
    <springProfile name="test,prod">  
        <logger name="com" level="INFO" additivity="false">  
            <appender-ref ref="LOGFILE" /> 
        </logger>  
    </springProfile>  
  
</configuration>  